.priority{
  font-size:1.3em ;
  font-weight: bold;
}
.high{
  color:#f75676;
}
.normal{
  color: #1aae6f;
}
.low{
  color: #1a174d;
}
.nav-link{
  color: black !important;
}
.active{
  font-size: 1.05em; font-weight: bold;
}
