<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Table of all shoppers</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">username</th>
              <th scope="col">Phone number</th>
              <th scope="col">Email</th>
              <th scope="col">Website</th>
              <th scope="col">Address</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="store" title="Click here to see shopper infos" [routerLink]="['/admin/store/info',store._id]"
                *ngFor="let store of currentDisplayedStores">
              <th scope="row">
                <div class="media align-items-center">
                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                    <img alt="Image placeholder" src="http://localhost:8080/uploads/2ac2d48e-6ca2-4d20-b29c-95abba979df4chinese.jpg">
                  </a>
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{store?.name}}</span>
                  </div>
                </div>
              </th>
              <td>
                {{store?.username}}
              </td>
              <td>
                {{store?.phoneNumber}}
              </td>
              <td>
               {{store?.email}}
              </td>
              <td>
                {{store?.website}}
              </td>
              <td>
                {{store?.address?.address}} {{store?.address?.postalCode}},
                {{store?.address?.city}}: {{store?.address?.country}}
              </td>

              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="javascript:void(0)">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                  </div>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
